.ui-message {
    min-width: 300px;
    border-width: 1px;
    border-style: solid;
    border-color: #EBEEf5;
    background-color: #edf2fc;
    /* 元素相对于自身宽度的50%向左平移。 */
    transform: translateX(-50%);
    /* 使得元素成为固定定位元素 */
    position: fixed;
    left: 50%;
    top: 20px;
    transition: opacity .3s, transform .4s;
    padding: 15px 15px 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}

.ui-message-center {
    justify-content: center;
}

.ui-message .message-content {
    margin-left: 16px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1;
}

.ui-message .close-button {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    /*background-image: url("./close.png");*/
    width: 12px;
    height: 12px;
    background-size: 100% 100%;
}

.ui-message .type-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background-image: url("success.png");
    width: 16px;
    height: 16px;
    background-size: 100% 100%;
    color: #02cc54;
}

.ui-message-leave {
    /* 完全透明 */
    opacity: 0;
    /* 元素沿着其自身宽度的50%向左移动，并且沿着其自身高度的100%向上移动 */
    transform: translate(-50%, -100%);
}

.ui-message-info .message-content {
    color: #909399;
}

.ui-message-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.ui-message-success .message-content {
    color: #67c23c;
}

.ui-message-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
}

.ui-message-warning .message-content {
    color: #e6a23c;
}

.ui-message-error {
    background-color: #fef0f0;
    border-color: #fde2e2;
}

.ui-message-error .message-content {
    color: #f56c6c;
}