::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.025);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.2);
	transition: all 0.5s;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, 0.4);
}